.project {
    display: flex;
    flex-wrap: wrap;

    .project-header {
        z-index: 10;
        width: 100%;

        h2 {
            z-index: 999;
            margin: 10px 30px;
            font-weight: 800;
            font-size: 80px;
        }

        // a {
        //     font-weight: 600;
        //     margin: 0 30px;
        //     text-decoration: none;
        //     color: #e67e22;
        // }



        a {
            padding: 10px;
            text-decoration: none;
            color: #e67e22;
            overflow: visible;
            font-weight: 600;
            transition: all 0.2s ease;
            margin: 0 20px;
            cursor: pointer;
                // background: linear-gradient(135deg,rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
            border-radius: 10px;

            &:hover {
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                             background: #2980b9;
                             color: #ecf0f1;
            }
        }

        @media screen and (max-width: 768px) {
            a {
                margin: 0px;
            }

            h2 {
                z-index: 999;
                margin: 100px 10px 10px;
                font-weight: 800;
                font-size: 30px;
            }

            
        }

    }

    .project-info {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        margin: 50px;
        width: 30%;
        height: auto;

        .info-card{
            z-index: 2;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin: auto;

            h4 {
                color: #e67e22;
                margin: 0;
            }
            
            h5 {

            }

            .tools-info {
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                .tool {
                    padding: 10px;
                    h4 {
                        margin: 5px;
                    }

                    svg {
                        color: #e67e22;
                        overflow: visible;
                        font-size: 48px;
                        transition: all 0.2s ease;
                        padding: 10px;
                        cursor: pointer;
                            // background: linear-gradient(135deg,rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
                        border-radius: 50%;

                        &:hover {
                            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                            background: #2980b9;
                                         color: #ecf0f1;
                        }

                        @media screen and (max-width: 768px) {
                            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                            background: #2980b9;
                                         color: #ecf0f1;
                            
                        }
                    }
                }
            }

            .project-link {
                transition: all 0.2s ease;
                border-radius: 5px;
                padding: 5px;
                font-weight: 800;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                color: #e67e22;

                &:hover {
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                                 color: #7B68EE;
                }
            }

            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 24px;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                padding: 20px;
                padding-bottom: 0;
                margin: 0;
            }
        }
        
        @media screen and (max-width: 1024px) {
            width: 100%;
            bottom: -50%;

            .project-desc {
                background: rgba(44, 62, 80,0.8);
            }
        }
        

    }

    .project-display {
        overflow: visible;
    

        .project-img {
            height: 100vh;
            transform: translate(-10%, -5%);

            @media screen and (max-width: 768px) {
                height: auto;
                width: 100%;
            }
        }
    }

    .expand {
        height: 100vh;
        width: 100vw;
        top: 0px;
        left: 0px;
        z-index: 999;
        background: rgba(0,0,0, 0.8);
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;

        .project-display {

        //     img {
        //         transform: translate(-100px, -200px);
        //     }

        //     @media screen and (max-width: 768px) {
        //             img {
        //                 transform: translate(0, -100px);
        //             }
        //     }
        // }


            .project-info {
            }
        }
    }
}

/*GLOBALS*/


#wrapper{
	width:100%;
	margin:10px auto;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
}

#slider-wrap{
	width:100%;
	height:100%;
	overflow:hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:25%;
	height:100%;	
}

#slider-wrap ul#slider li > div {
    display: flex;
    flex-wrap: wrap;
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;	
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li i{
	text-align:center;
	line-height:100%;
	display:block;
	width:100%;
	font-size:90px;	
}


/*btns*/
.btns{
    color: #e67e22;
    padding: 10px;
    align-content: center;
    font-size: 30px;
	position:absolute;
	width:50px;
	top:50%;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.4);
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.8);	
}

#next{
    right: 0;
    border-radius:7px 0px 0px 7px;
}

#previous{
    left: 0;
    border-radius:0px 7px 7px 7px;
}

#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
    min-width: 50vh;
	margin-left: auto; 
	margin-right: auto;
	height:100%;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
    height: 80vh;
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;
  
  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}




