#hero {
    padding-top: 80px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: visible;

    #hero-bg {
        z-index: -1;
        position: absolute;
        width: auto;
        overflow: visible;
    }

    #showcaseWrapper{
        margin: auto;
        display: inline;
        overflow: visible;
        width: fit-content;

        .heading{
            text-align: center;
            font-size: 3rem;
        }
    }
    
    #showcase{
        margin: auto;
        display: flex;
        overflow: visible;
        width: fit-content;
    }
    
    @media screen and (max-width: 1024px) {
        justify-content: center;    
    }

    .slide {
        border: 0px solid #000;
        // margin-top: 80px;
        // height: 500px;
        background: none;
        color: rgba(0,0,0, 0.6);
        font-size: 50px;
        align-items: center;
        z-index: 997;
    
        svg{
            box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.2),
                        10px 10px 20px rgba(0, 0, 0, 0.4);
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
            transition: all 0.2s ease;
            border-radius: 50%;
            padding: 10px;
            &:hover {
                box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2),
                            5px 5px 5px rgba(0, 0, 0, 0.4);
            }
        }

        @media screen and (max-width: 1024px) {
            font-size: 50px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 30px;
        }
    }
}

#title-section {
    width: 100%;
    margin: auto;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.2s all ease;
    

    h1 {
        margin: 0;
        font-size: 6rem;
        text-decoration: underline;
        text-decoration-thickness: 10px;
        text-decoration-color: #2ecc71;
        

        @media screen and (max-width: 1024px) {
            font-size: 2rem;
            text-decoration-thickness: 5px;
        }
    }

    h3 {
        color: #e67e22;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    a {
        font-size: xx-large;
        color: #ecf0f1;;
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        
        
        box-shadow: -3px -3px 10px #ffffff4d, 
        3px 3px 10px #0000004d;
        // background: linear-gradient(135deg,rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
        border-radius: 5px;
        transition: all 0.2s ease;

            &:hover {
                box-shadow: none;
            }
        padding: 10px;
        cursor: pointer;

        p {
            margin: 0;
        }
    }

    .scroll-btn {
        margin: 20px auto;
    }

    @media screen and (max-width: 1024px) {
        
    }
}

.container {
    margin: 80px 120px;
    width: 300px;
    height: 200px;
    position: relative;
    perspective: 1000px;

    .carousel {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s ease-in-out;

        #carousel-ecom {
            transform: rotateY(0deg) translateZ(150px);
        }

        #carousel-portfolio {
            transform: rotateY(120deg) translateZ(150px);
        }

        #carousel-brand {
            transform: rotateY(240deg) translateZ(150px);
        }

        > div {
            display: block;
            position: absolute;
            width: 300px;
            height: 200px;
            font-size: 1rem;
            text-align: center;
            color: #000;
            background:rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            transition: transform 0.1s ease;

            h2 {
                font-size: 2rem;
                margin: 0;
                color: #ecf0f1;;
                background:rgba(0, 0, 0, 0.8);
                border-radius: 5px;
                text-decoration: underline;
                text-decoration-thickness: 5px;
                text-decoration-color: #2ecc71;
            }

            img {
                height: 100%;
                overflow: hidden;
            }
        }
            
    }

    @media screen and (max-width: 1024px) {
        width: 250px;
        height: 175px;
        margin: auto;

        .carousel {

            > div {
                width: 250px;
                height: 175px;

                h2 {
                    font-size: 1rem;
                }
            }
    
            #carousel-ecom {
                transform: rotateY(0deg) translateZ(100px);
            }
    
            #carousel-portfolio {
                transform: rotateY(120deg) translateZ(100px);
            }
    
            #carousel-brand {
                transform: rotateY(240deg) translateZ(100px);
            }

        }
    }

    @media screen and (max-width: 768px) {
        width: 200px;
        height: 150px;
        margin: auto;

        .carousel {

            > div {
                width: 200px;
                height: 150px;
            }
    
            #carousel-ecom {
                transform: rotateY(0deg) translateZ(75px);
            }
    
            #carousel-portfolio {
                transform: rotateY(120deg) translateZ(75px);
            }
    
            #carousel-brand {
                transform: rotateY(240deg) translateZ(75px);
            }

        }
    }

}