#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    #about-text {
        display: flex;
        flex-wrap: wrap;
        margin: auto 0;
        width: 50%;

        h1 {
            margin-left: 30px;
            font-size: 3rem;

            strong {
                text-decoration: underline;
                text-decoration-thickness: 7px;
                text-decoration-color: #2ecc71;
            }
    
            @media screen and (max-width: 1024px) {
                font-size: 1.5rem;
            }
    
            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }
    }

    #about-img {
        z-index: -1;
        transform: translateY(-200px);
        width: 50%;

        @media screen and (max-width: 1024px) {
            transform: translateY(0px);
        }
    }
}