#contact {
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    overflow: hidden;
    justify-content: center;
    
    h1 {
        text-align: center;
    }
}

#contact-bg {
    height: 100%;
    z-index: -2;
    position: absolute;
    left: 0;
    overflow: hidden;
    transform: translate(0, -20%);
    max-height: 100%;
}

#bg-container {
    position: absolute;
    width: auto;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.contactContainer {
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px !important;

    display: grid;
    grid-template-columns: 1fr 2fr;


    label {
        padding: 5px;
        margin-right: 10px;
        justify-self: flex-end;
    }
    
    textarea {
        outline: none;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 700px;
        min-width: 200px;
        border: none;
        margin: 0px 0 10px;
        font-size: 1.5rem;
        resize: none;

        &:active {
            border: none;
            outline: none;
        }
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        min-width: none;
        grid-template-columns: 1fr;
        justify-items: center;

        textarea {
            width: 80%;
        }

        label {
            justify-self: center;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        min-width: none;
        grid-template-columns: 1fr;    


        label {
            justify-self: center;
        }
    }
}