#contact {
    margin: 50px 15vw 50px 15vw;
    margin-left: 15vw;
    margin-right: 15vw;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    
    h1 {
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        padding: 10px;
        
    }

    .card {
        z-index: 100;
    }
}

#contact-bg {
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    transform: translate(0, -20%);
    max-height: 100%;
}

#bg-container {
    position: absolute;
    width: auto;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.contactContainer {
    z-index: 997;
    justify-content: center;
    font-size: 1rem;

    display: grid;
    grid-template-columns: 100px 1fr;


    label {
        padding: 5px;
        margin-right: 10px;
        justify-self: flex-end;
    }
    
    textarea {
        z-index: 997;
        background-color: #bdc3c7;
        outline: none;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 700px;
        border: none;
        margin: 0px 0 10px;
        font-size: 1.5rem;
        resize: none;
        transition: all 0.1s ease;

        &:focus {
            background-color: #ecf0f1;
            box-shadow: none;
            border: none;
            outline: none;
        }
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;

        textarea {
            font-size: 12px;
            width: 80%;
        }

        label {
            justify-self: center;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        grid-template-columns: 1fr;    


        label {
            justify-self: center;
        }
    }
}