.nav-container {
    padding-top: 30px;
    position: fixed;
    padding-left: 15vw;
    padding-right: 15vw;
    width: 70vw;
    height: 80px;
    left: 0px;
    top: 0px;
    box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.3),
    0px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    cursor: pointer;

    #nav-logo {
        transform: translateX(-120%);
        img {

        height: 40px;
        }
        color: #e67e22;
    }
}

#menu-btn {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #d35400;
    }
}

// Nav Links

#nav-links {
    font-size: 0.8em;
    display: flex;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

#nav-links > a {
    font-weight: 500;
    text-decoration: none;
    color: #d35400;
    list-style: none;
    margin: 20px;

    &:hover {
        color: #d35400;
    }
}

.spy {
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in-out;

    &.active {
    border-bottom: 5px solid #2ecc71;
    }
}