.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    .FooterLogo {
        margin: 20px;
        display: flex;
        flex-wrap: no-wrap;
    }

    a {
        text-decoration: none;
        color: #ecf0f1;
    }

    svg {
        color: #e67e22;
    }
    

    h1 {
        font-size: 3rem;
        margin: 20px;
    }

    .footer-links {
        align-content: center;

        p {
        }
    }
}