.Work {
    overflow: visible;

    .WorkContainer {
        box-shadow:
                    10px 10px 30px rgba(0, 0, 0, 0.3);

    }

    .CarouselSlide{

        > div {
            display: flex;
            flex-wrap: wrap;

            .ProjectHeader{

                h2 {

                }

                .ProjectLink {
                    transition: all 0.2s ease;
                    border-radius: 5px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1em;
                    text-decoration: none;
                    color: #e67e22;
    
                    &:hover {
                        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                                     color: #7B68EE;
                    }

                }
            }

            .ProjectDisplay{
                display: flex;
    
                .ProjectImg{
                    transform: scale(1.1);
                    z-index: -1;
                    height: 70vh;
                }
            }

            .ProjectInfo {
                position: absolute;
                bottom: 0;
                display: flex;

                .InfoCard {
                    padding: 10px;

                    .ProjectDesc {

                    }
                    h4 {
                        margin-bottom: 0;
                    }

                    .ToolsInfo {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;

                        .tool {
                            padding: 10px;
                            h5 {
                                text-align: center;
                                margin: 5px;
                            }
        
                            svg {
                                color: #e67e22;
                                overflow: visible;
                                font-size: 48px;
                                transition: all 0.2s ease;
                                padding: 10px;
                                cursor: pointer;
                                    // background: linear-gradient(135deg,rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
                                border-radius: 50%;
        
                                &:hover {
                                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                                    background: #2980b9;
                                                 color: #ecf0f1;
                                }
        
                                @media screen and (max-width: 768px) {
                                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                                    background: #2980b9;
                                                 color: #ecf0f1;
                                    
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .thumbNails {
        overflow: visible;
        width: 100%;
        display: flex;
        > div {
            > div{
                display: flex;
                width: 25%;

                .CarouselSlide {
                    font-size: 1.5em;
                    color: #ecf0f1;
                    background: #8e44ad;
                    border: 3px #34495e solid;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
                    border-radius: 0 0 15px 15px;
                    width: 100%;
                    height: 50px;
                    transition: all 0.5s ease;

                    &:hover {
                        box-shadow:
                                    10px 10px 20px rgba(0, 0, 0, 0.3);
                                    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
                                    //background-color: #2ecc71;
                                    color: #ecf0f1;

                    }
                }
            }

        }
    }
}